.about__wrapper {
  position: relative;
  border-radius: 0px 10px 10px 0px;
  max-width: 70%;
  min-height: 704px;
  background-image: url(../img/about-mobile.jpg);
  background-size: cover;
  background-position: center;
  @media (min-width: $tablet-width) {
    min-height: 749px;
    background-image: url(../img/about-tablet.jpg);
  }
  @media (min-width: $desktop-width) {
    max-width: 80%;
    background-image: url(../img/about-desktop.jpg);
  }
}

.about__info {
  position: absolute;
  top: 40px;
  right: -70px;
  width: 90%;
  background: #ededed;
  border-radius: 10px;
  padding: 30px 20px;
  @media (min-width: 500px) {
    top: 130px;
    right: -140px;
    width: 360px;
  }
  @media (min-width: $tablet-width) {
    width: 439px;
    height: 433px;
    padding: 60px;
    top: 180px;
    right: -200px;
  }
  @media (min-width: $desktop-width) {
    right: -190px;
  }
  @media (min-width: 1400px) {
    right: -230px;
  }
}

.about__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  color: $blue-basic;
  margin-bottom: 20px;
}

.about__description {
  font-weight: 500;
  font-size: 13px;
  line-height: 1.2;
  color: #282828;
  &:not(:last-child) {
    margin-bottom: 10px;
  }
}
