.button {
  width: 230px;
  padding: 16px 62px;
  border-radius: 40px;
  background: linear-gradient(92.71deg, #0499dd 0%, #17c1bc 100%);
  color: white;
  font-weight: 700;
  letter-spacing: 1.2px;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  &:hover {
    box-shadow: rgba(58, 58, 58, 0.2) 0px 2px 8px 0px;
    color: #eee;
  }
  &:focus-visible {
    box-shadow: 0 0 2px 4px $blue-basic;
    outline: none;
  }
  &:active {
    color: #d4d4d4;
    box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
    -webkit-tap-highlight-color: transparent;
  }
}

.button__tour {
  display: flex;
  padding: 16px 46px;
  gap: 6px;
  justify-content: space-between;
  align-items: center;
  &_arrow {
    display: inline-block;
    width: 15px;
    height: 8px;
    transition: 0.4s ease-in;
    background-image: url(../img/icon/arrow.svg);
  }
  &:hover .button__tour_arrow {
    transform: translateX(6px);
  }
}
