.button {
  border-radius: 40px;
  background: linear-gradient(92.71deg, #0499dd 0%, #17c1bc 100%);
  color: white;
  font-weight: 700;
  letter-spacing: 1.2px;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  &:hover {
    box-shadow: rgba(58, 58, 58, 0.2) 0px 2px 8px 0px;
    color: #eee;
  }
  &:focus-visible {
    box-shadow: 0 0 2px 4px $blue-basic;
    outline: none;
  }
  &:active {
    color: #d4d4d4;
    box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
  }
}
