.ex-types {
  margin: 150px 0;
  padding: 0 20px;
  @media (min-width: $tablet-width) {
    padding: 0 60px;
  }
}

.ex-types__wrapper {
  display: flex;
  flex-direction: column;
  @media (min-width: $tablet-width) {
    max-width: 1120px;
    margin: 0 auto;
  }
}

.ex-types__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  color: $blue-basic;
  margin-bottom: 40px;
}

.ex-types__list {
  list-style: none;
  padding: 0;
  margin: 0 0 60px 0;
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
  }
}

.ex-types__item {
  display: grid;
  grid-template-columns: 75px 1fr;
  column-gap: 20px;
  &:not(:last-child) {
    margin-bottom: 40px;
  }
}

.ex-types__name {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.2;
  color: $blue-basic;
}

.ex-types__description {
  font-size: 13px;
  line-height: 1.2;
}

.ex-types__about {
  margin-bottom: 40px;
  text-align: center;
  @media (min-width: $tablet-width) {
    max-width: 550px;
    margin: 0 auto 40px;
    font-weight: 500;
  }
}

.ex-types__button {
  width: 230px;
  height: 50px;
  margin: 0 auto;
  border: none;
  border-radius: 60px;
  background: linear-gradient(92.71deg, #0499dd 0%, #17c1bc 100%);
  color: #ffffff;
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  transition: all 0.2s ease-in;
  &:hover {
    color: #ececec;
  }
  &:hover svg {
    transform: translateX(6px) scale(1.2);
  }
}
