.filter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
  @media (min-width: $desktop-width) {
    grid-column: 1/2;
    grid-row: 1;
  }
}

.filter__title {
  padding: 20px 0 0 20px;
  margin-bottom: 20px;
  font-family: "Montserrat", sans-serif, "Arial";
  align-self: baseline;
  color: $blue-basic;
  font-size: 18px;
  line-height: 22px;
}

// FORM
.form-group {
  max-width: 280px;
  display: grid;
  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(2, 280px);
    max-width: 100%;
    column-gap: 20px;
    padding: 0 15px;
  }
  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr;
    max-width: 280px;
    padding: 0;
  }
}

.form-group__wrapper {
  border-bottom: 1px solid #eee;
  margin-bottom: 20px;
}

.form-group__fieldset {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 20px 40px;
  gap: 10px;
  border: none;
  background-color: #fff;
}

.form-group__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  cursor: pointer;
  padding: 10px 20px;
  transition: all 600ms cubic-bezier(0.2, 0, 0, 0.8);
  &:hover {
    background-color: #eee;
    color: $blue-basic;
  }
}

.form-group__header:hover .form-group__toggle::before {
  background-color: #0499dd;
}

.form-group__header:hover .form-group__toggle_hide::after {
  background-color: #0499dd;
}

.form-group__title {
  padding: 0;
  margin: 0;
  font-size: 18px;
}

.form-group__toggle,
.form-group__toggle_hide {
  border: none;
  width: 16px;
  height: 16px;
  background-color: transparent;
  cursor: pointer;
  position: relative;
  &:hover {
    opacity: 0.7;
  }
  &::before {
    position: absolute;
    content: "";
    width: 16px;
    height: 2px;
    left: 0;
    background-color: black;
  }
  &:focus-visible {
    outline: none;
    border-radius: 2px;
    box-shadow: 0 0 2px 4px $blue-basic;
    outline: none;
    padding: 4px;
  }
}

.form-group__toggle_hide {
  &::after {
    position: absolute;
    content: "";
    width: 16px;
    height: 2px;
    left: 0;
    background-color: black;
    transform: rotate(90deg);
  }
}

// Price
.form-group__input-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.form-group__input_number {
  text-align: center;
  width: 105px;
  height: 30px;
  cursor: pointer;
  border: 1px solid $darkgrey;
  border-radius: 40px;
  background-color: white;
  color: black;
  &:focus-visible {
    box-shadow: 0 0 2px 4px $blue-basic;
    outline: none;
  }
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: textfield;
    margin: 0;
  }
}

.form-group__input_range {
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  height: 3px;
  background-color: $grey;
  cursor: pointer;
  transition: 0.2s;
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: $blue-basic;
    cursor: pointer;
    border: 2px solid $grey;
    padding: 2px;
  }
  &::-moz-range-thumb {
    transition: 0.2s;
  }
  &::-moz-range-thumb:hover {
    background: $blue-hover;
    border-color: #ffc700;
  }
  &::-moz-range-thumb:active {
    background: $blue-down;
    border-color: #ffc700;
  }
  &::-webkit-slider-thumb:hover {
    background: $blue-hover;
    border-color: #ffc700;
  }
  &::-webkit-slider-thumb:active {
    background: $blue-down;
    border-color: #ffc700;
  }
}

// People
.label {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 73px;
  height: 30px;
  cursor: pointer;
  border: 1px solid $darkgrey;
  border-radius: 40px;
  background-color: white;
  color: black;
  transition: all 600ms cubic-bezier(0.2, 0, 0, 0.8);
  &_large {
    width: 156px;
  }
}

.input:checked + .label {
  background: linear-gradient(92.71deg, #0499dd 0%, #17c1bc 100%);
  color: white;
  border: none;
}

.input:hover:not(:checked) + .label {
  background-color: $darkgrey;
  color: black;
}

// Цвет при нажатии/фокусе ------------------------------------
.input:focus-visible + .label {
  box-shadow: 0 0 2px 4px $blue-basic;
  outline: none;
}

// CHECKBOX
.checkbox__wrapper {
  display: flex;
  flex-direction: column;
}

.label_checkbox {
  display: block;
  position: relative;
  cursor: pointer;
  user-select: none;
  padding: 2px 12px 2px 36px;
}

.label_checkbox::before,
.label_checkbox::after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  height: 23px;
}

.input_checkbox + .label_checkbox::before {
  width: 23px;
  background: url(../img/icon/checkbox-off.svg) no-repeat 0 0;
}

.input_checkbox:checked + .label_checkbox::after {
  width: 25px;
  background: url(../img/icon/checkbox-on.svg) no-repeat;
}

.input_checkbox:checked + .label_checkbox::before {
  display: none;
}

.input_checkbox:hover + .label_checkbox::before,
.input_checkbox:checked:hover + .label_checkbox::after {
  opacity: 0.8;
}

.input_checkbox:focus-visible + .label_checkbox::before {
  border-radius: 2px;
  box-shadow: 0 0 2px 4px $blue-basic;
  outline: none;
}

.input_checkbox:checked:focus-visible + .label_checkbox::after {
  border-radius: 2px;
  box-shadow: 0 0 2px 4px $blue-basic;
  outline: none;
}

// RADIO_PLACE

.place__wrapper {
  display: flex;
  flex-direction: column;
}

.label_place-checkbox {
  display: block;
  position: relative;
  cursor: pointer;
  user-select: none;
  padding: 2px 12px 2px 36px;
  &::before {
    transition: 0.15s;
  }
}

.label_place-checkbox::before,
.label_place-checkbox::after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
}

.input_place-checkbox + .label_place-checkbox::before {
  width: 24px;
  height: 24px;
  border: 4px solid $grey;
  background-color: $grey;
  border-radius: 50%;
}

.input_place-checkbox:checked + .label_place-checkbox::after {
  top: 8px;
  left: 8px;
  width: 8px;
  height: 8px;
  background-color: #4d4d4d;
  border-radius: 50%;
}

.input_place-checkbox:hover + .label_place-checkbox::before,
.input_place-checkbox:checked:hover + .label_place-checkbox::after {
  border: 2px solid #4d4d4d;
}

.input_place-checkbox:focus-visible + .label_place-checkbox::before {
  border-radius: 50%;
  box-shadow: 0 0 2px 4px $blue-basic;
  outline: none;
}

// Button

.form-group__button-container {
  display: flex;
  justify-content: center;
  padding: 30px 0;
}

.form-group__submit {
  width: 240px;
  padding: 12px 0;
  font-size: 16px;
}
