.footer {
  background-color: #ededed;
  padding: 50px 20px;
}

.footer__wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, min-content);
  justify-items: center;
  max-width: 910px;
  margin: 0 auto;
  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    align-items: center;
  }
}

.footer__image {
  grid-column: 2/4;
  margin-bottom: 20px;
  transition: all 0.3s ease-in;
  &:hover {
    transform: scale(1.1);
  }
  @media (min-width: $tablet-width) {
    grid-column: 1/2;
    margin: 0;
  }
}

.footer__social {
  grid-column: 2/4;
  grid-row: 2/3;
  margin-bottom: 50px;
  display: flex;
  gap: 12px;
  list-style: none;
  padding: 0;
  @media (min-width: $tablet-width) {
    grid-column: 6/-1;
    grid-row: 1;
    margin: 0;
    flex-direction: column;
    gap: 5px;
  }
}

.social__link {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition: all 0.18s ease-in;
  &:hover {
    opacity: 0.8;
  }
  &:active {
    opacity: 0.5;
  }
  @media (min-width: $tablet-width) {
    justify-content: center;
  }
}

.footer__links {
  grid-column: 1/4;
  display: flex;
  flex-direction: column;
  gap: 8px;
  list-style: none;
  padding: 0;
  margin-bottom: 40px;
  @media (min-width: 520px) and (max-width: $tablet-width) {
    grid-column: 1/3;
  }
  @media (min-width: $tablet-width) {
    grid-column: 2/4;
    margin: 0;
  }
}

.footer__link {
  cursor: pointer;
  font-family: "Montserrat", sans-serif, "Arial";
  font-weight: 500;
  transition: all 0.15s ease-in-out;
  &:hover {
    color: $blue-basic;
  }
  &:active {
    color: crimson;
  }
}

.footer__contact {
  grid-column: 1/4;
  display: flex;
  flex-direction: column;
  gap: 8px;
  list-style: none;
  padding-left: 50px;
  @media (min-width: 520px) and (max-width: $tablet-width) {
    grid-column: 3/6;
    padding: 0;
  }
  @media (min-width: $tablet-width) {
    grid-column: 4/6;
    grid-row: 1;
  }
}

.contact__item {
}

.contact__link {
  display: flex;
  gap: 8px;
  text-decoration: none;
  color: black;
  font-family: "Montserrat", sans-serif, "Arial";
  font-weight: 500;
  transition: all 0.15s ease-in-out;
  &:hover {
    color: $blue-basic;
  }
  &:active {
    color: crimson;
  }
}

.contact__name {
  order: 2;
}

.contact__icon {
  order: 1;
}
