.page {
  height: 100%;
  background-color: #e5e5e5;
  scroll-behavior: smooth;
}

.page__body {
  max-width: 320px;
  max-width: 1440px;
  margin: 0 auto;
  background-color: #d7d7d7;
}

.page__wrapper {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  min-height: 100%;
  box-shadow: 2px 0 14px 6px #929292;
}

.page__main {
  min-width: 320px;
  background-color: #fff;
}

.main__wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 40px 0 80px;
  @media (min-width: $desktop-width) {
    width: 1120px;
    display: grid;
    grid-template-columns: 280px 780px;
    column-gap: 60px;
    align-items: flex-start;
  }
}

.main__container {
  @media (min-width: $tablet-width) {
    padding: 40px 20px;
  }
}
