.tours {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #fff;
  @media (min-width: $desktop-width) {
    grid-column: 2/2;
  }
}

.tours__title {
  margin-bottom: 40px;
  font-size: 24px;
  line-height: 30px;
  color: $blue-basic;
  font-family: "Montserrat", "Arial", sans-serif;
}

.tours__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.tours__item {
  display: flex;
}

.card {
  display: grid;
  // flex-direction: column;
  overflow: hidden;
  width: 280px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  @media (min-width: $tablet-width) {
    width: 610px;
    height: 444px;
    grid-template-columns: 238px auto;
    column-gap: 47px;
  }
  @media (min-width: $desktop-width) {
    width: 779px;
    height: 303px;
  }
}

.card__information {
  display: flex;
  flex-direction: column;
  padding: 20px 20px 40px 20px;
  @media (min-width: $tablet-width) {
    padding: 30px 30px 30px 0;
  }
  @media (min-width: $desktop-width) {
    padding: 16px 40px 30px 0;
  }
}

.card__image {
  width: 100%;
  height: auto;
  vertical-align: top;
  background-color: cyan;
  @media (min-width: $tablet-width) {
    grid-row: 1/-1;
  }
}

.card__header {
  // padding: 20px 20px 0 20px;
}

.card__type {
  color: $accent-color;
}

.card__title {
}

.card__price {
  display: flex;
  gap: 20px;
  padding: 20px 0;
  &_age {
    font-size: 12px;
  }
  @media (min-width: $desktop-width) {
    padding: 14px 0;
  }
}

.card__price_cost {
  color: $blue-basic;
  font-weight: 700;
  position: relative;
  padding-left: 26px;
  margin-bottom: 6px;
  &::before {
    position: absolute;
    content: "";
    left: 0;
    top: -2px;
    width: 22px;
    height: 22px;
    background-image: url(../img/sprite/price.svg);
  }
}

.card__price_time {
  display: none;
  @media (min-width: $tablet-width) {
    display: block;
    color: $blue-basic;
    font-weight: 700;
    position: relative;
    padding-left: 22px;
    &::before {
      position: absolute;
      content: "";
      left: 0;
      top: 0;
      width: 15px;
      height: 15px;
      background-image: url(../img/sprite/time.svg);
    }
  }
}

.card__description {
  padding: 0 0 0 20px;
  border-left: 3px solid #17c1bc;
  border-radius: 2px;
  text-align: justify;
  text-indent: 30px;
}

.card__buttons {
  display: flex;
  justify-content: space-between;
  padding: 20px 0 0;
  @media (min-width: $tablet-width) {
    justify-content: flex-start;
    gap: 20px;
    padding: 30px 0 0;
  }
  @media (min-width: $desktop-width) {
    padding: 20px 0 0;
  }
}

.card__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
}

.card__button-like {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  border: 2px solid $grey;
  cursor: pointer;
  z-index: 2;
  &:hover {
    border: 2px solid $blue-basic;
  }
  &:focus-visible {
    box-shadow: 0 0 2px 4px $blue-basic;
    outline: none;
  }
  &:active {
    border: none;
    box-shadow: 0 0 2px 4px $blue-basic;
  }
  &:active .card__button_icon {
    transform: scale(1.1);
  }
}

.card__button_icon {
  vertical-align: top;
  height: 24px;
  color: #d4d4d4;
  &_active {
    color: $blue-basic;
    stroke-width: 5px;
  }
}
