.tours {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  padding: 20px 0;
  background-color: #fff;
}

.tours__title {
  color: $blue-basic;
  align-self: baseline;
  padding-left: 20px;
  margin-bottom: 30px;
}

.tours__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.tours__item {
  display: flex;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 280px;
}

.card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card__image {
  width: 100%;
  height: auto;
  background-color: cyan;
}

.card__header {
  padding: 20px 20px 0 20px;
}

.card__type {
  color: $accent-color;
}

.card__title {
}

.card__price {
  display: flex;
  gap: 20px;
  padding: 20px;
  &_age {
    font-size: 12px;
  }
  // &_cost {
  //   color: $blue-basic;
  //   font-weight: 700;
  // }
}

.card__price_cost {
  color: $blue-basic;
  font-weight: 700;
  position: relative;
  padding-left: 26px;
  margin-bottom: 6px;
  &::before {
    position: absolute;
    content: "";
    left: 0;
    top: -2px;
    width: 22px;
    height: 22px;
    background-image: url(../img/sprite/price.svg);
  }
}

.card__description {
  padding: 0 20px;
  border-left: 3px solid #17c1bc;
  border-radius: 2px;
  text-align: justify;
  text-indent: 30px;
}

.card__buttons {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px 40px 20px;
}

.card__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
}

.card__button-like {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  border: 2px solid $grey;
  cursor: pointer;
  z-index: 2;
  &:hover {
    border: 2px solid $blue-basic;
  }
  &:active {
    border: none;
    outline: 3px solid $blue-basic;
  }
  &:active .card__button_icon {
    transform: scale(1.1);
  }
}

.card__button_icon {
  vertical-align: top;
  height: 24px;
  color: #ededed;
  &_active {
    color: $blue-basic;
  }
}
